<nav class="mx-auto flex items-center justify-between py-4 mg-10">
	<div id="me">
		<a href="https://github.com/BrunoRibeiro147/smart_git" target="_blank">
			BrunoRibeiro147-smart-git
		</a>
	</div>

	<div id="menu" class="text-blue-600 hover:text-blue-700">
		<ul class="flex items-center">
			<li class="ml-6"><a href="#">All My Repos</a></li>
		</ul>
	</div>
</nav>
